@font-face {
    font-family: 'JINKY';
    src: url('fonts/JINKY.eot');
    src: url('fonts/JNKY.eot?#iefix') format('embedded-opentype'),
        url('fonts/JINKY.woff') format('woff'),
        url('fonts/JINKY.ttf') format('truetype'),
        url('fonts/JINKY.svg#JINKYregular') format('svg');
}
@font-face {
    font-family: 'Kingthings';
    src: url('fonts/Kingthings.eot');
    src: url('fonts/Kingthings.eot?#iefix') format('embedded-opentype'),
        url('fonts/Kingthings.woff') format('woff'),
        url('fonts/Kingthings.ttf') format('truetype'),
        url('fonts/Kingthings.svg#Kingthingsregular') format('svg');
}
@font-face {
    font-family: 'Bubblegumsansregular';
    src: url('fonts/bubblegumsansregular.eot');
    src: url('fonts/bubblegumsansregular.eot?#iefix') format('embedded-opentype'),
        url('fonts/bubblegumsansregular.woff') format('woff'),
        url('fonts/bubblegumsansregular.ttf') format('truetype'),
        url('fonts/bubblegumsansregular.svg#bubblegumsansregular') format('svg');
}


#main { width: 100%; }

header {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

header img{
    width: 100%;
}

html, body{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'arial';
    font-size: 16px;
    text-align: center;
    background:#FFFDE5;
}

nav#menu{
    width: 70%;
    margin: 0 15% 0 15%;
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    background: #FFF212;
    
}

nav#menu ul{
    padding: 0;
}


nav#menu li{
    width:24%;
    font-size: 1.4rem;
    color: #0083B2;
    list-style-type: none;
    display: inline-block;
    padding: 8px 0 8px 0;
    font-weight: bold;

}

nav#menu li.rigth{
    border-right:1px solid #0083B2;
}

#main section{
    width: 60%;
    margin: 0 15% 0 15%; 
    padding: 0 5% 0 5%;       
}

form#complaint{
    width: 100%;
}

form#complaint label{
    font-size: 1.3rem;
    color: #0083B2;
    display: block;
    text-align: left;
}

form#complaint input, form#complaint select{
    display: block;
    text-align: left;
    margin-left: 10%;
    margin-top: 5px;    
}

form#complaint input#detalle{
    width: 60%;
    height: 60px;
}

form#complaint input, form#complaint select{
    border: solid 1px #DCDCDC;
    width: 60%;    
}

form#complaint select{
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
    background: url(../images/down_arrow_select.jpg) no-repeat right white;
}

form#complaint input#complaint{
    width: auto;
    background-color: #FF9F3F;
    color:white;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    border: solid #FF8400;
    font-size: 1.4rem;
    font-family: Bubblegumsansregular;
}

#row{
    width: 100%;
    display: block;
    margin-top: 20px;
}

#col6{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

footer{
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0px;
    background-image: url('../images/footer_web.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
    
    nav#menu{
    width: 80%;
    margin: 0 10% 0 10%;
   }

    nav#menu li{
        width:22%;
        font-size: 1rem;
    }            
}

/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
    nav#menu li{
        width:22%;
        font-size: 1rem;
    }        
}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
 nav#menu li{
        width:22%;
        font-size: 1rem;
    }     
    
}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
   
}



