doctype 5
html(lang="es")
    head
        meta(charset="utf-8")
        title Denuncia Lo.Co
        script(src="js/prefixfree.min.js")
        //script(src="socket.io/socket.io.js")
        link(rel="stylesheet", href="css/normalize.css")        
        link(rel="stylesheet", href="css/styles.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

    body
        #main
            header 
                img(src="images/header_web_med.png")            
            nav#menu 
                ul
                    li.rigth Denuncielo
                    li.rigth Asegurese
                    li.rigth Buen taxista
                    li Tenga en cuenta
            section
                form#complaint
                    #row
                        #col6
                            label(for="placa") Placa: 
                            input(type="text", name="placa", placeholder='HAM21R')
                        #col6
                            label(for="abuso") Abuso:
                            select(name="abuso")
                                option(value="robo") Robo
                                option(value="insultos") Insultos
                    #row
                        #col6
                            label(for="detalle") Detalle: 
                            input(type="text", name="detalle", placeholder='Me robó el taxista :(', id="detalle")  
                        #col6
                    #row
                        #col6
                            input(type="submit", value="Denuncia", id="complaint")
                        #col6
            footer
                
        script(src="js/jquery.min.js")
        script(src="js/handlebars.js")
        script(src="js/main.js")